doctype html
html
  head
    title Image Search Microservices
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
  body
    block content
      section.section
        .container
          .content
            h1.title Image Search Microservices
            form(action='/imagesearch', method='post')
              input.input(type='text', name='query', placeholder='Your search query...', required=true)
              br
              br
              input.button.is-info(type='submit')
              a.button.is-pulled-right(href='/imagesearch/latest') History