doctype html
html
  head
    title Url Shortener
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
    // script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
  body
    section.section
      .container
        .content
          h1.title Freecodecamp API Projects

        aside.menu
          ul.menu-list
            li
              a(href='/timestamp') Timestamp Microservice
            li
              a(href='/whoami') Request Header Parser Microservice
            li
              a(href='/shortener') URL Shortener Microservice
            li
              a(href='/filesize') File Metadata Microservice
            li
              a.disabled(href='#') Image Search Abstraction Layer (Pending)
